.App {
  text-align: center; /* Center the content horizontally */
  height: 100vh; /* 100% of the viewport height */
  display: flex; /* Use flexbox for centering vertically */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}

.button-container {
  display: flex; /* Use flexbox for buttons */
  justify-content: center; /* Center buttons horizontally */
  gap: 16px; /* Add some spacing between buttons */
}

